In [26]:
from __future__ import print_function

#Import pandas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])
cities = pd.DataFrame({'City name':city_names,'Population':population})

In [17]:
cities.head()

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [18]:
print(type(cities['City name']))

<class 'pandas.core.series.Series'>

In [19]:
print(type(cities['Population'][1]))

<class 'numpy.int64'>

In [24]:
print(cities[0:2])
print(type(cities[0:2]))

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
<class 'pandas.core.frame.DataFrame'>

In [25]:
population/1000

0     852.469
1    1015.785
2     485.199
dtype: float64

In [27]:
np.log(population)

0    13.655892
1    13.831172
2    13.092314
dtype: float64

In [29]:
population.apply(lambda x: x>1000000)

0    False
1     True
2    False
dtype: bool

In [31]:
def test(x):
    return x+1
population.apply(test)

0     852470
1    1015786
2     485200
dtype: int64

In [36]:
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['Population']/cities['Area square miles']
cities

       City name  Population  Area square miles  Population density
0  San Francisco      852469              46.87        18187.945381
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

In [45]:
cities['Saint and big'] = (cities['City name'].apply(lambda x: 'San' in x) & (cities['Area square miles'].apply(lambda x: x>50)))
cities

,City name,Population,Area square miles,Population density,Saint and big
0,San Francisco,852469,46.87,18187.945381,False
1,San Jose,1015785,176.53,5754.177760,True
2,Sacramento,485199,97.92,4955.055147,False

In [48]:
print('city_names pd.Series index information' + str(city_names.index))
print('cities pd.DataFrame index information' + str(cities.index))

city_names pd.Series index informationRangeIndex(start=0, stop=3, step=1)
cities pd.DataFrame index informationRangeIndex(start=0, stop=3, step=1)

In [49]:
cities.reindex([2,1,0])

,City name,Population,Area square miles,Population density,Saint and big
2,Sacramento,485199,97.92,4955.055147,False
1,San Jose,1015785,176.53,5754.177760,True
0,San Francisco,852469,46.87,18187.945381,False

In [58]:
cities.reindex(np.random.permutation(cities.index))

,City name,Population,Area square miles,Population density,Saint and big
2,Sacramento,485199,97.92,4955.055147,False
0,San Francisco,852469,46.87,18187.945381,False
1,San Jose,1015785,176.53,5754.177760,True

In [59]:
cities.reindex([0,1,2,3])

,City name,Population,Area square miles,Population density,Saint and big
0,San Francisco,852469.0,46.87,18187.945381,False
1,San Jose,1015785.0,176.53,5754.177760,True
2,Sacramento,485199.0,97.92,4955.055147,False
3,NaN,NaN,NaN,NaN,NaN